.questions{
    line-height: 95%;
}
@media only screen and (min-width: 500px){
width
}
body {
    background-color: lightgoldenrodyellow;
    font-family: "Times New Roman", Times, serif;

}

