.questions{
    line-height: 120%;
}
@media only screen and (min-width: 500px){

}
body {
     /*background-color: #24596b; */
    font-family: "Times New Roman", Times, serif;

}

a:link, a:visited {
    background-color: #458f9e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #458f9e;
}